@import '../../../globalConfig.scss';

.order_main_div {
    width: 100%;
    padding: 10px !important;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .header {
        padding: 15px 0px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        .text1 {
            font-size: 30px;
            text-align: center;
            font-family: $font-systemUi;
            padding: 0px 0px 0px 0px !important;
            box-sizing: border-box;
            margin: 0px !important;
            @media (max-width:768px) {
                font-size: 26px;
        }
        }

        .text2 {
            font-size: 16px;
            text-align: center;
            font-family: $font-regular;
            padding: 0px 0px 0px 0px !important;
            box-sizing: border-box;
            margin: 0px !important;
        }
    }

    .order_div_container {
        padding: 20px 20px !important;
        box-sizing: border-box;
        column-gap: 10px !important;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: row;
        
        @media (max-width:768px) {
            display: flex;
            padding: 10px !important;
            flex-direction: column-reverse !important;
        }

        .customer_info {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            padding: 10px !important;
            box-sizing: border-box;
            @media (max-width:768px) {
            padding: 10px 0px 20px 0px!important;
        }

            .info_div {
                background-color: white;
                border: 1px solid #b9b9b9ac;
                border-radius: 10px;
                overflow: hidden;
                padding: 0px 0px 10px 0px !important;
                box-sizing: border-box;

                .heading {
                    width: 100%;
                    padding: 10px 10px;
                    font-size: 16px;
                    box-sizing: border-box;
                    background-color: rgba(128, 128, 128, 0.521);
                    font-family: $font-bold;
                    margin: 0px 0px 10px 0px !important;
                }

                .info_text {
                    padding: 0px 10px 0px 15px !important;
                    box-sizing: border-box;
                    font-size: 16px;
                    font-family: $font-bold;
                    color: #333333;

                    .span {
                        margin-right: 10px;
                        font-size: 14px;
                    }
                }

                .gt_text {
                    padding: 10px 10px 0px 15px !important;
                    box-sizing: border-box;
                    font-size: 16px;
                    border-top: 2px dotted rgba(111, 111, 111, 0.647);
                    font-family: $font-bold;
                    color: #333333;
                    margin: 10px 0px 0px 0px !important;

                    .span {
                        margin-right: 10px;
                        font-size: 14px;
                    }
                }
            }
        }

        .item_div {
            display: flex;
            padding: 10px 10px 10px 10px!important;
            box-sizing: border-box;
            flex-direction: column;
            border: 1px solid #a5a3a3bd;
            border-radius: 15px;
            row-gap: 15px;
            

            .product_div {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: left;
                column-gap: 10px;
                padding: 10px !important;
                border-bottom: 2px solid rgba(128, 128, 128, 0.446);

                .image {
                    width: 100px;
                }

                .product_info {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-size: 16px;
                        font-family: $font-bold;
                        color: black;

                    }
                    .span {
                        font-size: 12px;
                        font-family: $font-regular;
                    }

                    .price {
                        font-size: 14px;
                        font-family: $font-bold;
                    }
                }
            }
        }
    }
}