.dashboard_main {
    width: 100%;
    padding: 20px !important;
    box-sizing: border-box;

    .dashboard_container {
        display: flex;
        flex-direction: column;

        .heading {
            font-size: 25px;
            width: 100%;
            text-align: left;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 10px 0px 40px 0px !important;
            box-sizing: border-box;
        }

        .table_div_main {

            // border: 1px solid #000;
            .table_div {
                // border: 1px solid #000;
                width: 100%;

                .thead {
                    // border: 1px solid #000;

                    .th {
                        border: 1px solid #000;
                        padding: 5px 10px !important;
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }

                .tbody {
                    .th {
                        padding: 15px 10px !important;
                        font-size: 16px;
                        font-weight: none;
                        font-family: sans-serif;
                        border: 1px solid #000;
                    }
                }
            }
        }
    }
}