@import '../../../../globalConfig.scss';

.top_deals_div_main {
    width: 100%;
    background-color: $WhiteSmoke;
    height: auto;
    padding: 20px 10px !important;

    .top_deals_div_container {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;

        .heading {
            font-family: $font-regular2;
            font-size: 28px;
            width: 100%;
            text-align: center !important;
            width: 100%;
            margin-bottom: 20px;
            letter-spacing: .5px;
            color: #333333;

            @media (max-width:768px) {
                font-size: 24px;
            }
        }


        .card_section {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            justify-content: space-between;
            column-gap: 20px;
            flex-wrap: nowrap;
            
            @media (max-width:900px) {
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;
                scroll-behavior: smooth;
            }
        }


        .card_section::-webkit-scrollbar {
            height: 8px;
        }

        .card_section::-webkit-scrollbar-thumb {
            background: #e4002b;
            border-radius: 4px;
        }
    }
}