@import '../../../globalConfig.scss';

.cart_div_main {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $WhiteSmoke;

    .cart_div_container {
        width: 100%;
        max-width: 1200px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        @media (max-width:1100px) {
            display: flex;
            flex-direction: column;
        }

        .heading_div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 10px !important;
            box-sizing: border-box;

            .page_heading {
                text-align: center;
                font-size: 28px;
                font-family: sans-serif;
                font-weight: 600;
                padding: 0px 0px 0px 0px !important;
                margin: 0px 0px 0px 0px !important;
                color: #333333;
            }

            .link {
                text-decoration: none;
                font-size: 16px;
                color: #333333;
                font-weight: $font-regular;
                text-align: center;
                margin: 0px !important;
                padding: 0px !important;
                letter-spacing: 1px;
                border-bottom: 2px solid #bdbcbc;
                transition: all 1s ease;

                &:hover {
                    border-bottom: 2px solid #000000;
                }
            }
        }

        .cart_section_div {
            display: grid;
            padding: 10px !important;
            column-gap: 10px;
            grid-template-columns: 750px 1fr;
            box-sizing: border-box;

            .cart_side {
                padding: 10px 0px !important;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                .product_cart {
                    display: flex;
                    // border-radius: 5px;
                    padding: 5px 5px;
                    border-bottom: 1px solid #b8b8b872;
                    // box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.633);

                    .product_image {
                        // border: 1px solid #d9d6d6a0;
                        width: 100px;
                    }

                    .detail_div {
                        display: flex;
                        width: 100%;
                        padding: 0px 20px 0px 40px !important;
                        justify-content: space-between;

                        .title_div {
                            display: flex;
                            flex-direction: column;
                            padding: 0px 0px !important;
                            box-sizing: border-box;

                            .title {
                                font-size: 18px;
                                font-family: sans-serif;
                                color: #333333;
                                padding-bottom: 10px;
                                // border: 1px solid #000;
                            }

                            .quantity_div {
                                border: 1px solid #b3afafa6;
                                display: flex;
                                width: 70px;
                                padding: 0px 0px !important;
                                justify-content: space-between;
                                align-items: center;

                                .action_btn {
                                    // border: 1px solid #000;
                                    // padding: 1px;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    padding: 1px 3px !important;
                                    background-color: whitesmoke;

                                    .action_icon {
                                        font-size: 14px;
                                    }
                                }

                                .qt_number {
                                    font-size: 15px;
                                    color: #333333;
                                }
                            }

                            .remove {
                                color: black;
                                text-decoration: none;
                                padding: 10px 0px 0px 0px;
                            }
                        }

                        .amount {
                            color: #000000;
                            font-size: 16px;
                            font-family: sans-serif;
                            // font-weight: 600;
                        }
                    }
                }
            }

            .total_side {
                width: 100%;
                padding: 10px !important;
                box-sizing: border-box;
                position: relative;

                .subtotal_div_main {
                    position: sticky;
                    top: 10px;
                    background-color: whitesmoke;
                    padding: 20px 10px !important;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    .heading {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .subtotal_heading {
                            font-size: 18px;
                            color: #333333;
                            letter-spacing: 1px;
                        }

                        .total_price {
                            font-size: 18px;
                            color: #333333;
                            letter-spacing: 1px;
                        }
                    }

                    .checkout_button {
                        background-color: $main-color;
                        padding: 5px 10px !important;
                        box-sizing: border-box;
                        width: 100%;
                        font-size: 18px;
                        text-align: center;
                        color: white;
                        cursor: pointer;
                        margin: 10px 0px !important;
                        box-sizing: border-box;

                        &:hover{
                            opacity: 0.9;
                        }
                    }

                    .end_text {
                        width: 100%;
                        text-align: center;
                        padding: 10px !important;
                        box-sizing: border-box;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}