@import '../../../globalConfig.scss';

.bucket_div_main {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $WhiteSmoke;

    .bucket_div_container {
        width: 100%;
        max-width: 1200px;
        padding: 10px;
        display: grid;
        grid-template-columns: 800px 1fr;

        @media (max-width:1100px) {
            display: flex;
            flex-direction: column;
        }

        .right_side_div {
            padding: 5px 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            @media (max-width:768px) {
                padding: 5px 0px !important;
            }

            .your_item_cart_div {
                width: 100%;
                padding: 10px !important;
                background-color: white;

                .div_inner_heading {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    width: 100%;
                    margin: 0px;
                    padding: 5px 5px 10px 5px !important;
                    font-size: 18px;
                    font-weight: bolder;
                    font-family: $font-roboto;
                    border-bottom: 2px solid #33333382;

                    .icon_box {
                        padding: 4px;
                        cursor: pointer;
                        background-color: rgba(108, 108, 108, 0.263);
                        margin: 0px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center !important;
                        align-items: center !important;
                        border: 2px solid $main-color;
                        transition: all .5s ease;

                        &:hover {
                            background-color: $main-color;
                        }

                        .icon {
                            font-size: 15px;
                            font-weight: bolder;
                            font-family: $font-systemUi;
                            margin: 0px !important;
                            padding: 0px !important;
                        }
                    }
                }

                .menu_div {
                    height: 220px;
                    padding: 20px 0px !important;
                    overflow: hidden;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    padding: 5px 10px !important;
                    box-sizing: border-box;
                    transition: all .5s ease;

                    .menu_image {
                        margin: auto;
                    }

                    .note {
                        font-size: 20px;
                        font-family: $font-systemUi;
                        padding: 5px 0px !important;
                        text-align: center;

                        @media (max-width:768px) {
                            font-size: 14px;
                        }
                    }

                    .menu_button {
                        text-align: center;
                        width: 200px;
                        margin: 0px auto 10px auto !important;
                        background-color: $main_color;
                        color: $light;
                        font-size: 18px;
                        font-family: $font-systemUi;
                        padding: 7px 15px !important;
                        box-sizing: border-box;
                        border-radius: 5px;
                        margin: 5px 0px 0px 0px !important;
                        text-decoration: none;

                        &:hover {
                            opacity: 0.9;
                        }

                        @media (max-width:768px) {
                            margin: 0px 0px 5px 0px !important;
                            font-size: 14px;
                            padding: 5px 10px !important;
                        }
                    }
                }

                .menu_div::-webkit-scrollbar {
                    width: 4px;
                }

                .menu_div::-webkit-scrollbar-thumb {
                    background: $main_color;
                    border-radius: 0px;
                }

            }

            .you_donate_div {
                width: 100%;
                padding: 10px !important;
                background-color: white;

                .div_inner_heading {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    width: 100%;
                    margin: 0px;
                    padding: 5px 5px 10px 5px !important;
                    font-size: 18px;
                    font-weight: bolder;
                    font-family: $font-roboto;
                    border-bottom: 2px solid #33333382;

                    .icon_box {
                        padding: 4px;
                        cursor: pointer;
                        background-color: rgba(108, 108, 108, 0.263);
                        margin: 0px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center !important;
                        align-items: center !important;
                        border: 2px solid $main-color;
                        transition: all .5s ease;

                        &:hover {
                            background-color: $main-color;
                        }

                        .icon {
                            font-size: 15px;
                            font-weight: bolder;
                            font-family: $font-systemUi;
                            margin: 0px !important;
                            padding: 0px !important;
                        }
                    }
                }

                .bhook_mitao_div {
                    width: 100%;
                    margin: 10px auto;
                    background-color: whitesmoke;
                    border-radius: 10px;
                    padding: 10px 10px !important;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    column-gap: 10px;
                    align-items: center;

                    @media (max-width:768px) {
                        flex-direction: column;
                        row-gap: 15px;
                    }

                    .image {
                        width: 170px;
                        border-radius: 5px;

                        @media (max-width:768px) {
                            width: 140px;
                        }
                    }

                    .tag {
                        width: 100%;
                        font-size: 24px;
                        line-height: 29px;
                        font-family: $font-roboto;

                        @media (max-width:768px) {
                            text-align: center;
                            font-size: 16px;
                        }
                    }

                    .donate_btn_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        column-gap: 5px;
                        row-gap: 10px;
                        padding: 10px;


                        .donate_inner {
                            display: flex;
                            column-gap: 5px;
                            box-sizing: border-box;

                            .sign_btn {
                                // padding: 5px;
                                height: 30px;
                                width: 30px;
                                border-radius: 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 2px solid $main-color;
                                align-items: center;

                                .icon {
                                    font-size: 18px;
                                    margin: 0px;
                                    padding: 0px;
                                }
                            }

                            .donate_price {
                                margin: 0px;
                                padding: 0px;
                                align-items: center;
                                font-size: 16px;
                                font-family: $font-bold;
                                display: flex;
                                white-space: nowrap;
                            }
                        }
                    }

                    .donate_btn {
                        text-align: center;
                        // width: 100px;
                        white-space: nowrap;
                        margin: 0px auto 10px auto !important;
                        background-color: $main_color;
                        color: $light;
                        font-size: 14px;
                        font-family: $font-systemUi;
                        padding: 7px 15px !important;
                        box-sizing: border-box;
                        border-radius: 5px;
                        margin: 5px 0px 0px 0px !important;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.9;
                        }

                        @media (max-width:768px) {
                            margin: 0px 0px 0px 0px !important;
                            font-size: 14px;
                            width: 100% !important;
                            padding: 5px 10px !important;
                        }
                    }
                }
            }
        }

        .left_side_div {
            padding: 5px;
            border: 1px solid #000;

        }
    }
}