@import '../../../../globalConfig.scss';

.exploremenu_div_main {
    width: 100%;
    padding: 10px !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: $WhiteSmoke;

    .exploremenu_div_container {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        padding: 20px 0px 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

         .heading {
            font-family: $font-regular2;
            font-size: 28px;
            width: 100%;
            text-align: center !important;
            width: 100%;
            margin-bottom: 20px;
            letter-spacing: .5px;
            color: #333333;

            @media (max-width:768px) {
                font-size: 24px;
            }
        }


        .slider_div_main {
            width: 100%;
            box-sizing: border-box;

            @media (max-width:700px) {
                display: none;
            }

            .swiper_slide {
                padding: 30px 0px 10px 0px !important;
                height: 100%;
            }
        }

        .grid_card_div {
            display: none;
            grid-template-columns: 250px 1fr;
            justify-content: center;
            box-sizing: border-box;

            @media (max-width:700px) {
                display: grid;
            }

            .singel_card_div {
                border: 1px dashed #000;
                box-sizing: border-box;
                border-radius: 10px;
                display: flex;
                justify-content: left;
                align-items: center;
                flex-direction: column;

                .title {
                    padding: 10px 10px 0px 10px !important;
                    box-sizing: border-box;
                    color: black;
                    font-family: $font-roboto;
                    font-weight: bolder;
                    font-size: 20px;
                    width: 100%;
                    text-align: left !important;

                    @media (max-width:500px) {
                        font-size: 12px;
                    }
                }

                .image {
                    width: 150;
                    margin: auto;
                }
            }

            .others_card_div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 0px 5px !important;
                box-sizing: border-box;
                gap: 5px;


                .card_div {
                    border: 1px dashed #000;
                    border-radius: 10px;

                    .title {
                        padding: 10px 10px 0px 10px !important;
                        box-sizing: border-box;
                        color: black;
                        font-family: $font-roboto;
                        font-weight: bolder;
                        font-size: 20px;

                        @media (max-width:500px) {
                            font-size: 12px;
                        }
                    }

                    .image {
                        width: 100px;
                        margin: auto;
                    }
                }
            }

            @media (max-width:500px) {
                grid-template-columns: 110px 1fr;
            }
        }
    }
}