@import '../../../globalConfig.scss';

.menu_div_main {
    width: 100%;
    padding: 0px 0px 10px 0px !important;
    box-sizing: border-box;
    background-color: $WhiteSmoke;

    .menu_div_container {
        width: 100%;
        max-width: 13 00px;
        margin: auto;
        row-gap: 5px;
        padding: 0px 10px !important;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .menu_category_div {
            position: sticky;
            z-index: 1000;
            top: 0px;
            background-color: whitesmoke;
            width: 100%;
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: left;
            align-items: center;
            column-gap: 20px;
            padding: 10px 10px !important;
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            scroll-behavior: smooth;

            @media (max-width:768px) {
                display: flex;
                justify-content: left !important;
            }

            .category_name {
                background-color: white;
                border-radius: 5px;
                color: black;
                font-size: 16px;
                font-family: $font-roboto;
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                padding: 5px 10px !important;
                box-sizing: border-box;
                transition: all .5s ease;
                cursor: pointer;

            }

            .active_category {
                cursor: pointer;
                background-color: $main_color;
                border-radius: 5px;
                color: white;
                font-size: 16px;
                font-family: $font-roboto;
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                padding: 5px 10px !important;
                box-sizing: border-box;
                transition: all .5s ease;
            }
        }

        .menu_category_div::-webkit-scrollbar {
            height: 3px;
        }

        .menu_category_div::-webkit-scrollbar-thumb {
            background: $main_color;
            border-radius: 0px;
        }


        .menu_card_section_div {
            width: 100%;
            justify-content: center !important;
            padding: 20px 10px !important;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;

            @media (max-width:1000px) {
                display: grid;
                padding: 10px 0px !important;
                grid-template-columns: repeat(1, 1fr);
            }

            .card_div_main {
                padding: 10px 20px !important;
                box-sizing: border-box;
                display: flex;
                row-gap: 30px;
                flex-direction: column;

                @media (max-width:768px) {
                    padding: 10px 0px !important;
                }

                .category_section_div {
                    display: flex;
                    padding: 10px 0px !important;
                    flex-direction: column;

                    .heading {
                        font-family: $font-systemUi;
                        font-size: 24px;
                        text-transform: uppercase;
                        width: 100%;
                        text-align: left;

                        .best {
                            padding-bottom: 5px;
                            box-sizing: border-box;
                            border-bottom: 4px solid $main_color;
                        }
                    }

                    .category_card_div {
                        display: grid;
                        padding: 20px 0px 0px 0px !important;
                        box-sizing: border-box;
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 40px;
                        row-gap: 10px;

                        @media (max-width:1050px) {
                            column-gap: 10px;
                        }

                        @media (max-width:768px) {
                            column-gap: 10px;
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }
            }

            .bucket_section_div {
                padding: 10px !important;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                width: 100% !important;
                max-width: 370px !important;

                @media (max-width:1100px) {
                    max-width: 300px !important;
                }

                @media (max-width:1000px) {
                    max-width: 100% !important;
                    padding: 0px 10px !important;
                }

                .bucket_div {
                    width: 100%;
                    cursor: pointer;
                    background-color: white;
                    position: sticky;
                    top: 70px;
                    padding: 0px 0px !important;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px grey;

                    @media (max-width:1000px) {
                        position: fixed;
                        top: 635px;
                        box-shadow: none;
                        background-color: transparent;
                        bottom: -200px !important;
                    }

                    .item_count {
                        width: 100%;
                        box-sizing: border-box;
                        font-weight: 600;
                        padding: 8px 10px 8px 20px !important;
                        font-size: 20px;
                        font-family: $font-regular;
                        border-bottom: 2px solid $main_color;

                        @media (max-width:1000px) {
                            display: none;
                        }
                    }

                    .bucket_image_div_main {
                        width: 100%;
                        padding: 10px 10px !important;
                        box-sizing: border-box;

                        @media (max-width:1000px) {
                            display: none;
                        }

                        .bucket_image_div_container {
                            border-radius: 10px;
                            padding: 20px 10px !important;
                            box-sizing: border-box;
                            box-shadow: 0px 0px 10px #f1f3f6;
                            // background-color: #f1f3f6;

                            .bucket_image {
                                width: 300px;
                                margin: auto;
                            }

                            .note {
                                white-space: nowrap;
                                box-sizing: border-box;
                                padding: 7px 5px 7px 5px !important;
                                font-size: 18px;
                                text-align: center;
                                font-weight: bolder;
                                font-family: $font-roboto;

                                @media (max-width:1100px) {
                                    font-size: 15px;
                                    padding: 7px 0px !important;
                                    white-space: wrap;
                                }

                            }
                        }
                    }

                    .view_bucket_div {
                        margin: 10px 0px !important;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        background-color: $main_color;
                        padding: 10px 15px !important;
                        box-sizing: border-box;
                        color: white;
                        text-decoration: none;

                        @media (max-width:1000px) {
                            margin: 0px auto !important;
                            max-width: 400px;
                            border-radius: 10px;
                        }

                        .item_ {
                            font-size: 16px;
                            font-family: $font-regular;
                            font-weight: 600;

                            .price {
                                font-family: $font-roboto;
                                font-weight: bolder;
                            }

                        }

                        .view_bucket_btn {
                            font-family: $font-systemUi;
                            letter-spacing: .5px;
                            font-weight: bolder;
                            font-size: 18px;

                        }
                    }
                }
            }

        }
    }
}