@import '../../../globalConfig.scss';

.header_div_main {
    width: 100%;
    padding: 0px 0px !important;
    display: flex;
    flex-direction: column;
    margin: 0px !important;
    box-sizing: border-box;
    background-color: $theme-color;
    box-shadow: 0px 0px 10px rgba(128, 127, 127, 0.373);

    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        // padding-bottom: 10px !important;
    }

    .header_bar_div {

        .header_bar {
            padding: 9px;

            .message {
                color: white;
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                font-family: sans-serif;

                @media (max-width:768px) {}
            }

            @media (max-width:768px) {
                padding: 5px;

                .message {
                    font-size: 14px;
                }
            }
        }
    }

    .header_section_div {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;

        .logo_div {
            display: flex;
            flex-direction: row;
            column-gap: 20px;

            .icon_button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .icon {
                    color: grey;
                    font-size: 25px;
                }
            }

            .logo_image {
                width: 120px;
                cursor: pointer;
                margin-top: 20px;
            }
        }

        .action_div {
            display: flex;
            column-gap: 20px;

            .icon_button {
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    color: grey;
                    font-size: 25px;
                }
            }
        }

        @media (max-width:768px) {
            padding: 10px 5px;

            .logo_div {
                column-gap: 10px;
            }

            .action_div {
                column-gap: 10px;
            }
        }
    }
}

.drawer_list_main {
    width: 250px;
    padding: 10px 0px 10px 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    .logo_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 5px 10px !important;

        .logo {
            width: 120px;
            margin-top: 20px;
        }

        .close_btn {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #c8c8c8bb;
            background-color: whitesmoke;
            cursor: pointer;

            .icon {
                color: grey;
                font-size: 14px;
                font-weight: bolder;
            }
        }
    }

    .hr {
        width: 100%;
        max-width: 400px;
        border: 1px solid #a9a7a7a2;
    }

    .unorder_list {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 10px !important;
        box-sizing: border-box;

        .li {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            // column-gap: 7px;
            font-size: 16px;
            transition: all .5s ease;

            &:hover {
                background-color: rgba(193, 189, 189, 0.355);
                cursor: pointer;
            }

            .link_image {
                width: 25px;
            }

            .link {
                text-decoration: none;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                padding: 7.5px;
                letter-spacing: 1px;
                color: rgb(55, 55, 55);
                font-family: $font-regular2;
            }
        }
    }

}