@import '../../globalConfig.scss';

.product_main_div {
    width: 100%;
    padding: 0px !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .header{
        width: 100%;
        padding: 10px 20px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.598);

        .input{
            width: 100%;
            max-width: 250px;
            padding: 10px !important;
            box-sizing: border-box;
            cursor: pointer;
            border: 1px solid #727272d4;
            border-radius: 5px;
        }

        .select_main{
            padding: 0px 10px ;
            height: 40px;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(23, 23, 23);
            border: 2px solid #77767687;
            background-color: white;
        }

        .add_perfume_btn{
            padding: 7px 15px !important;
            box-sizing: border-box;
            text-align: center;
            background-color: green;
            border-radius: 5px;
            color: white;
            cursor: pointer;

            &:hover{
                opacity: 0.9;
            }
        }
    }
    .product_container_div {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        padding: 20px 10px !important;
        display: grid;
        box-sizing: border-box;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: repeat(2 , 1fr);
    }
}