@import '../../../../globalConfig.scss';

.drawer_list_main {
    width: 100%;
    max-width: 450px;
    padding: 0px 0px 10px 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    @media (max-width:500px) {
        max-width: 340px;
    }

    .heading_div {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        border-bottom: 1px solid #a5a5a59a;
        padding: 18px 28px 18px 28px !important;
        @media (max-width:500px) {
            padding: 15px 22px 15px 22px !important;
        }

        .heading {
            padding: 0px !important;
            margin: 0px !important;
            box-sizing: border-box;
            font-size: 29px;
            font-family: $font-regular;
            font-weight: 600;
            letter-spacing: 1px;

            @media (max-width:500px) {
                font-size: 24px;
            }
        }

        .close_btn {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;

            .icon {
                color: rgb(131, 131, 131);
                font-size: 24px;
                font-weight: bolder;
            }
        }
    }

    .cart_item_div {
        width: 100%;
        padding: 18px 10px 10px 10px !important;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 310px;
        border-bottom: 1px solid #a5a5a59a;
        overflow-x: hidden;
        overflow-y: auto;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        @media (max-width:500px) {
            height: 400px;
        }

        .item_cart {
            width: 100%;
            max-width: 380px;
            margin: auto;
            padding: 20px 10px 20px 0px !important;
            border-bottom: 1px solid #a5a5a59a;
            display: flex;
            column-gap: 15px;

            .image_div {
                .product_image {
                    width: 140px;
                }
            }

            .detail_div {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .title {
                    font-size: 18px;
                    text-decoration: none;
                    padding: 0px !important;
                    margin: 0px !important;
                    color: black;
                }

                .quantity_div_main {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 10px !important;
                    box-sizing: border-box;

                    .quantity_div {
                        border: 1px solid #b3afafa6;
                        display: flex;
                        width: 75px;
                        padding: 0px 0px !important;
                        justify-content: space-between;
                        align-items: center;

                        .action_btn {
                            box-sizing: border-box;
                            cursor: pointer;
                            padding: 1px 4px !important;
                            background-color: whitesmoke;

                            .action_icon {
                                font-size: 18px;
                            }
                        }

                        .qt_number {
                            font-size: 15px;
                            padding: 1px 3px;
                            color: #333333;
                        }
                    }

                    .amount {
                        font-size: 16px;
                        font-family: sans-serif;
                        color: black;
                    }
                }
            }
        }
    }

    .cart_item_div::-webkit-scrollbar {
        width: 7px;
    }

    .cart_item_div::-webkit-scrollbar-thumb {
        background: grey;
    }

    .total_side {
        width: 100%;
        padding: 10px !important;
        box-sizing: border-box;
        position: relative;

        .subtotal_div_main {
            position: sticky;
            top: 10px;
            padding: 10px 20px !important;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            @media (max-width:500px) {
                padding: 10px !important;
            }

            .heading {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .subtotal_heading {
                    font-size: 16px;
                    color: #333333;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

                .total_price {
                    font-size: 18px;
                    color: #333333;
                    letter-spacing: 1px;
                }
            }

            .checkout_button {
                background-color: $main-color;
                padding: 13px 10px !important;
                box-sizing: border-box;
                width: 100%;
                font-size: 14px;
                text-align: center;
                color: $text-color;
                cursor: pointer;
                font-family: $font-regular2;
                font-weight: 600;
                letter-spacing: 3px;
                margin: 0px 0px !important;
                box-sizing: border-box;
                transition: all .5s ease;
                text-decoration: none;

                &:hover {
                    opacity: 0.9;
                }
            }

            .end_text {
                width: 100%;
                text-align: center;
                padding: 5px 10px !important;
                box-sizing: border-box;
                font-size: 14px;
                font-family: $font-regular2;
                @media (max-width:500px) {
                    padding: 5px !important;
                }
            }
        }
    }
}