@import '../../../globalConfig.scss';

.login_div_main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0px 10px !important;
    box-sizing: border-box;
}

.modal_div {
    // padding: 0px 10px !important;
    box-sizing: border-box;
    // margin: auto 15px !important;
    // background-color: green;
    // overflow: hidden;
}

.popup_main_div {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px !important;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;

    @media (max-width:500px) {
        width: 350px;
    }

    .heading_div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3px;
        border-bottom: 2px solid $main-color;

        .welcome_heading {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-size: 25px;
            font-family: $font-systemUi;
        }

        .icon_box {
            height: 30px !important;
            width: 30px !important;
            // padding: 4px;
            cursor: pointer;
            background-color: rgba(108, 108, 108, 0.263);
            margin: 0px;
            border-radius: 50%;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            border: 2px solid $main-color;
            transition: all .5s ease;

            &:hover {
                background-color: $main-color;
                color: white;
            }

            .icon {
                font-size: 20px;
                font-weight: bolder;
                font-family: $font-systemUi;
                margin: 0px !important;
                padding: 0px !important;
            }
        }
    }

    .form {
        width: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin: 10px 0px !important;
        border-radius: 10px;
        background-color: whitesmoke;

        .input {
            padding: 10px;
            border: 1px solid #918f8f;
            box-sizing: border-box;
            outline: none;
            border-radius: 3px;
            background-color: whitesmoke;
            color: black;
            font-size: 16px;
        }

        .login_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-bold;
            letter-spacing: .5px;
            font-size: 16px;
            text-align: center;
            background-color: $main-color;
            color: white;
            padding: 10px 10px !important;
            box-sizing: border-box;
            border-radius: 4px;
            cursor: pointer;
            transition: all .5s ease;

            &:hover {
                opacity: 0.9;
            }
        }

    }
}