$main_color: #000000;
$main_light_color: #ea002bb9;
$light: white;
$dark: #000000;
$DarkGrey: #333333;
$WhiteSmoke: whitesmoke;
$theme-color : white;
$main-color : #ea002a;
$text-color : rgb(255, 255, 255);
 
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Medium';
  src: url('/fonts/RobotoCondensed-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'System-ui';
  src: url('/fonts/System-ui.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'outfit';
  src: url('/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$font-regular: 'Lato';
$font-bold: 'LatoBold';
$font-roboto: 'RobotoCondensed-Medium';
$font-systemUi: 'System-ui';
$font-regular2: 'outfit';