@import '../../../globalConfig.scss';


.track_order_main_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    margin: 0px !important;
    padding: 30px 10px !important;
    box-sizing: border-box;

    .heading {
        font-size: 30px;
        width: 100%;
        text-align-last: center;
        font-weight: 600;
        color: black;
        letter-spacing: 1px;
    }

    .track_order_div {
        width: 100%;
        max-width: 450px;
        margin: auto;
        box-shadow: 0px 4px 8px rgba(192, 190, 190, 0.682);
        border-radius: 10px;
        padding: 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        box-sizing: border-box;

        .track_heading {
            width: 100%;
            font-size: 22px;
            font-weight: bold;
            color: #333333;
            font-family: $font-bold;
            text-align: center;
        }

        .tab_button_div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            .active_btn {
                width: 100%;
                padding: 4px 0px;
                box-sizing: border-box;
                text-align: center;
                font-size: 18px;
                font-family: sans-serif;
                border-bottom: 2px solid black;
                cursor: pointer;
                letter-spacing: .5px;
                font-family: $font-bold;
            }

            .simple_button {
                letter-spacing: .5px;
                width: 100%;
                padding: 4px 0px;
                box-sizing: border-box;
                text-align: center;
                font-size: 18px;
                font-family: $font-bold;
                color: grey;
                cursor: pointer;
            }
        }

        .order_form {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            justify-content: center;
            align-items: center;

            .input {
                width: 100%;
                padding: 13px !important;
                border: 1px solid #c4c3c3cc;
                border-radius: 5px;
            }

            .track_button {
                width: 100%;
                background-color: #333333;
                color: white;
                padding: 13px !important;
                border: 1px solid #c4c3c3cc;
                border-radius: 5px;
                cursor: pointer;
                text-transform: uppercase;
                font-family: sans-serif;
                letter-spacing: 1px;
                font-size: 14px;
            }
        }
    }
}